@import "../../../themes/flex-style/variables";
@import "../../../themes/flex-style/mixins";

.navigation {
  &__container {
    // @include width-max(100%);
    height: 100%;
    min-width: 150px;

    color: $color-nav_item;
    background-color: $color-bc-nav;
  }

  &--list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;

    &:first-child {
      border-top: 1px solid $color-bc-content;
    }
  }

  &--item {
    border-bottom: 1px solid $color-bc-content;
    font-size: .85rem;

    a {
      display: flex;
      align-items: center;
      padding: 0.7rem 0.2rem;

      &:link,
      &:visited {
        color: $color-nav_item;
        background-color: $color-bc-nav;
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: $color-nav_item-hover;
        background-color: $color-bc-nav_item-hover;
      }

      em {
        margin: 0 .3rem;
        justify-self: center;
      }

    }

    &-active {
      color: $color-nav_item-hover !important;
      background-color: $color-bc-nav_item-hover !important;
    }


  }
}
