<!-- Navigation -->
<nav
  class="navigation__container"
  role="navigation">

  <div class="">
    <div
      class="navigation--list"
      id="side-menu">

      <div class="navigation--item">
        <a [routerLink]="['/dashboard']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          Dashboard
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/development']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          Project build
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/install']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          Installation
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/tests']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          Writing test cases
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/test-notes']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          Test notes
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/technical']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fas fa-angle-right fa-fw"></em>
          App modules
        </a>
      </div>


    </div>
  </div>
</nav>
