@import "../../../themes/flex-style/variables";

.tests_container {
  display: flex;
}

.test_main_content {
  flex: 1;
  max-width: 82%;

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
  }
}

.tests_right_navigation {
  width: 18%;
  position: fixed;
  top: 70px;
  right: 0;

  &--list {
    padding-left: 20px;
    list-style: none;

    & > li > em {
      margin-right: .2rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    display: none;
  }

}

caption {
  caption-side: top;
}
