<div class="tests_container">
  <div class="test_main_content">

    <h1>Instructions for writing test cases</h1>

    <h4>
      <a
        href="https://bitbucket.org/domestos99/mmsparams2/src/master/MmsParamsTestSamples/src/main/java/cz/uhk/dip/mmsparams/testsamples/"
        target="_blank" rel="noopener noreferrer">Test examples</a>
    </h4>

    <main class="content">
      <app-box id="Client_library_installation">
        <h4 class="d-inline" title>
          Client library installation
        </h4>
        <div body>
          <ul>
            <li>
              Download:
              <download [type]="'CLIENT'"></download>
            </li>
            <li>
              Import this jar to IDE as reference (it already contains all necessary dependencies)
            </li>
            <li>
              Or Download and build source codes
            </li>
          </ul>
        </div>
      </app-box>

      <app-box id="Before_you_begin">
        <h4 class="d-inline" title>
          Before you begin
        </h4>
        <div body>
          <ul>
            <li>Check <a
              href="https://bitbucket.org/domestos99/mmsparams2/src/master/MmsParamsTestSamples/src/main/java/cz/uhk/dip/mmsparams/testsamples/"
              target="_blank" rel="noopener noreferrer">Test examples</a>
            </li>
            <li>
              If you want to use example module, at first change constants in AppConfig class
            </li>
          </ul>

          <div class="border">
            TestSetting configuration:
            <ul>
              <li>
                ServerAddressProvider - HTTP/HTTPS, address, port and of the server
              </li>
              <li>
                defaultTimeout - default timeout when waiting for message to be received
              </li>
              <li>
                defaultWaitSleepLoop - default pause when iterating incoming messages (in ms)
              </li>
              <li>
                username - server login username
              </li>
              <li>
                password - server login password
              </li>
            </ul>

            For example:<br>
            return new TestSettings(new ServerAddressProvider(HttpProtocolEnum.HTTP,
            "192.168.0.104",
            "4301"), 60, 100, "myusername", "sercretpassword");
          </div>

        </div>
      </app-box>


      <app-box id="Creating_test_cases">
        <h4 class="d-inline" title>
          Creating test cases
        </h4>
        <div body>

          <ul>
            <li>
              For creating test cases use library MmsParamsClientLib
            </li>
            <li>
              Make sure that MmsParamsAPI module is referenced correctly
            </li>
            <li>
              Each test case should be single class and inherits from
              <strong>RunnableTest</strong> class
            </li>
            <li>
              Here is example of test case template
            </li>
          </ul>

          <div class="border">
            public class MyTest1 extends RunnableTest &#123;<br>
            <br>
            &nbsp;public MyTest1() &#123;<br>
            &nbsp;&nbsp;super("MyTest1 name", "MyTest1 description");<br>
            &nbsp;&#125;<br>
            &nbsp;<br>
            &nbsp;@Override<br>
            &nbsp;protected TestSettings init() &#123;<br>
            &nbsp;&nbsp;return AppConfig.getDefaultTestSettings();<br>
            &nbsp;&#125;<br>
            &nbsp;<br>
            &nbsp;@Override<br>
            &nbsp;protected void run(ITestInstance test) throws Exception &#123;<br>
            &nbsp; // Write test commands here<br>
            &nbsp;&#125;<br>
            &#125;<br>
          </div>

          <ul>
            <li>
              Running a test case
            </li>
          </ul>

          <div class="border">
            public static void main(String[] args) &#123;<br>
            &nbsp;new MyTest1().runTest();<br>
            &#125;<br>
          </div>


        </div>
      </app-box>


      <app-box id="Creating_Test_Groups">
        <h4 class="d-inline" title>
          Creating Test Groups
        </h4>
        <div body>

          <ul>
            <li>Test groups allow you to run more test cases at once (sequentially)</li>
            <li>Each test group should be single class and inherits from
              <strong>RunnableTestGroup</strong> class
            </li>
          </ul>

          <div class="border">

            public class MyTestGroup extends RunnableTestGroup &#123;<br>
            <br>
            &nbsp;public MyTestGroup() &#123;<br>
            &nbsp;super("MyTestGroup name", "MyTestGroup description");<br>
            &#125;<br>
            <br>
            @Override<br>
            protected void runTests() &#123;<br>
            &nbsp;boolean result1 = new MyTestCase1().runTest();<br>
            &nbsp;boolean result2 = new MyTestCase2().runTest();<br>
            &nbsp;// Other tests here<br>
            &#125;<br>
            &#125;<br>

          </div>

          <ul>
            <li>
              Running a test group
            </li>
          </ul>

          <div class="border">
            public static void main(String[] args) &#123;<br>
            &nbsp;new MyTestGroup().runTestGroup();<br>
            &#125;<br>
          </div>


          <ul>
            <li>
              If you want to interrupt execution of test group when error occurs:
            </li>
          </ul>
          <div class="border">
            boolean result1 = new MyTestCase1().runTest();<br>
            if (!result1) &#123; <br>
            return;<br>
            &#125;
          </div>


        </div>
      </app-box>

      <app-box id="Test_case_logging">
        <h4 class="d-inline" title>
          Test case logging
        </h4>
        <div body>
          <ul>
            <li>
              Each test case logs info to the console by default.
            </li>
            <li>
              There are two log levels: LOG_ONLY_INFO and LOG_ALL.
            </li>
            <li>
              The LOG_ONLY_INFO mode logs only basic information about the ongoing operations within
              the test.
            </li>
            <li>
              The LOG_ALL mode logs all information including complete received and sent messages.
              This mode is especially suitable for detailed analysis of the test run, eg when
              looking for an error.
            </li>
            <li>
              Modes can be freely switched during the test, but it is recommended to set the logging
              level as the first command of the test case (ideally in the init method)
            </li>
            <li>
              <strong>
                When test case is finished, all console logs are sent to the server
              </strong>
            </li>
          </ul>

          <div class="border">
            ClientLogFacade.setClientLogLevel(ClientLogLevel.LOG_ALL);<br>
            ClientLogFacade.setClientLogLevel(ClientLogLevel.LOG_ONLY_INFO);
          </div>

          <h4>Custom logger</h4>
          <ul>
            <li>
              Create new class which implements the IClientCustomLogger interface
            </li>
            <li>
              You can add more custom logger, but default console logger will be always active
            </li>
            <li>
              <strong>It is strongly recommended to add all custom loggers in init method</strong>
            </li>
            <li>
              Custom logger registration is per test case
            </li>
          </ul>

          <div class="border">
            ClientLogFacade.addCustomLogger(new CustomLogger());
          </div>

        </div>
      </app-box>


      <app-box id="Validations">
        <h4 class="d-inline" title>
          Validations
        </h4>
        <div body>

          <ul>
            <li>
              Use ValidationBuilder class to create your validations
            </li>
            <li>
              ValidationBuilder vb = ValidationBuilder.create();
            </li>
          </ul>

          List of method for validations

          <ul>
            <li>
              vb.withNotNull(value, "Value cannot be null");
            </li>
            <li>
              vb.withNull(value, "Value must be null");
            </li>
            <li>
              vb.withEquals("value", "value", "Values must be equal");
            </li>
            <li>
              vb.withNotEquals("a-value", "b-value", "Values must be equal");
            </li>
            <li>
              vb.withTrue(value, "Value must be true");
            </li>
            <li>
              vb.withFalse(value, "Value must be false");
            </li>
            <li>
              vb.withNotNullOrEmpty(value, "String value cannot be null or empty");
            </li>
            <li>
              vb.withNullOrEmpty(value, "String value must be null or empty");
            </li>
            <li>
              vb.withByteArrayEquals(array1, array2, "Two arrays must be equal");
            </li>
            <li>
              vb.withByteArrayNotEquals(array1, array2, "Two arrays cannot be equal");
            </li>
          </ul>

          Custom validations

          <ul>
            <li>
              Custom validator should be a single class which implements IValidationItem interface
            </li>
            <li>
              It is strongly recommended that custom validator class also extends ValidationItemBase
              class
            </li>
          </ul>

          <div class="border">
            MyCustomValidator myCustomValidator = new MyCustomValidator(value, "Some custom
            validations");<br>
            vb.withCustomValidation(myCustomValidator);
          </div>

          <div class="border">
            List&#60;IValidationItem&#62; customValidations = new ArrayList<>();<br>
            customValidations.add(new MyCustomValidator1(value2, "Some custom validations 1"));<br>
            customValidations.add(new MyCustomValidator2(value2, "Some custom validations 2"));<br>
            vb.withCustomValidations(customValidations);<br>
          </div>

          Perform validations
          <ul>
            <li>
              Each ValidationBuilder instance should be validated only once
            </li>
            <li>
              If you need to perform validations during the test, the ValidationBuilder should then
              be re-created or clearValidations() method used
            </li>
          </ul>

          <div class="border">
            test.Validation().validatePrintThrow(vb);
          </div>

          <div class="border">
            vb.clearValidations();
          </div>

        </div>
      </app-box>


      <app-box id="Errors_and_exceptions">
        <h4 class="d-inline" title>
          Errors and exceptions
        </h4>
        <div body>
          <ul>
            <li>
              If an uncaught exception occurs in the test case, the connection to the server is
              automatically terminated and the test cannot continue
            </li>
            <li>
              If an uncaught exception occurs in test group, executions <strong>is not terminated
              and it continues with next test case</strong>
            </li>
          </ul>
        </div>
      </app-box>

      <h4>ITestInstance interface</h4>

      <app-box id="Phones_service">
        <h4 class="d-inline" title>
          Phones service
        </h4>
        <div body>
          <ul>
            <li>
              test.Phones()
            </li>
            <li>
              Retrieve list of all connected phones to the server<br>
              List&#60;PhoneInfo&#62; phones = test.Phones().getAllDevices();
            </li>
            <li>
              Find connected phones by CustomName attribute<br>
              PhoneInfo phoneA = test.Phones().getByCustomName("samsung");
            </li>
            <li>
              Lock and unlock phone for the test case<br>
              test.Phones().lockPhoneForTest(phoneA);<br>
              test.Phones().unLockPhoneForTest(phoneA);
            </li>
          </ul>

          <h4>Locking phones</h4>
          <ul>
            <li>
              If you want to use connected phone in test case, it has to be "locked" first
            </li>
            <li>
              <strong>Locked phone cannot be used by any other test case at the same time</strong>
            </li>
            <li>
              You can lock phone by using Phone service
            </li>
            <li>
              If you try to use phone that is not locked, test error will arise
            </li>
            <li>
              After test is finished, all locked phones are unlocked
            </li>
          </ul>


        </div>
      </app-box>

      <app-box id="SMS_service">
        <h4 class="d-inline" title>
          SMS service
        </h4>
        <div body>

          Creating and sending new SMS from phone
          <ul>
            <li>
              test.Sms()
            </li>
            <li>
              If you want to send new SMS message from phone, create instance of SmsSendModel class
              and set its attributes
            </li>
          </ul>

          <div class="border">
            SmsSendModel sms = new SmsSendModel();<br>
            sms.setTo("+420602334928");<br>
            sms.setText("Hello world");<br>
            sms.setDeliveryReport(true);<br>
          </div>

          <ul>
            <li>
              SmsSendMessageId smsSendID = test.Sms().sendSms(sms, phoneA);
            </li>
            <li>
              The method returns the sent message identifier, which can then be used to obtain
              information about successful message sending or delivery of report delivery.
            </li>
          </ul>


          SMS send confirmation
          <ul>
            <li>
              SmsSendPhoneResponseModel sendOk =
              test.Sms().waitFor().smsSendSuccessfully(smsSendID);
            </li>
          </ul>

          SMS Delivery report
          <ul>
            <li>
              Expecting one SMS delivery report to be received:<br>
              SmsDeliveryReport dr = test.Sms().waitFor().anyDeliveryReport(smsSendID);
            </li>

            <li>
              Expecting one SMS delivery report to be received in 20 seconds:<br>
              SmsDeliveryReport drReceivedIn20sec =
              test.Sms().waitFor().anyDeliveryReport(smsSendID,
              CustomTimeout.CUSTOM_TIMEOUT_20);
            </li>

            <li>
              Expecting no SMS delivery report to be received:<br>
              boolean noDrReceived = test.Sms().mustTimeoutFor().deliveryReport(smsSendID);
            </li>
            <li>
              Expecting no SMS delivery report to be received in 20 seconds:<br>
              boolean noDrReceivedIn20sec = test.Sms().mustTimeoutFor().deliveryReport(smsSendID,
              CustomTimeout.CUSTOM_TIMEOUT_20);
            </li>
          </ul>

          SMS Receive
          <ul>
            <li>
              Expecting one SMS to be received:<br>
              SmsReceiveModel smsReceived = test.Sms().waitFor().anySmsReceive(phoneB);
            </li>
            <li>
              Expecting five SMS to be received:<br>
              List&#60;SmsReceiveModel&#62; receivedSmsList =
              test.Sms().waitFor().anySmsReceived(phoneB, 5);
            </li>
            <li>
              Expecting five SMS to be received in 20 seconds<br>
              List&#60;SmsReceiveModel&#62; receivedSmsList =
              test.Sms().waitFor().anySmsReceived(phoneB, 5, CustomTimeout.CUSTOM_TIMEOUT_20);
            </li>
            <li>
              Expecting no SMS to be received<br>
              boolean smsNotReceived = test.Sms().mustTimeoutFor().smsReceive(phoneB);
            </li>
          </ul>

        </div>
      </app-box>


      <app-box id="MMS_service">
        <h4 class="d-inline" title>
          MMS service
        </h4>
        <div body>

          Setting recipient profile
          <ul>
            <li>
              test.Mms().Profile()
            </li>
            <li>Before sending an MMS message, you must set up a test profile for the message
              recipient. This profile contains information on how the recipient of an MMS message
              should act when it receives messages.
            </li>
            <li>
              Default profile: Download MMS immediately; no Read Report<br>
              MmsRecipientPhoneProfile recProfiles = MmsRecipientPhoneProfile.createDefault();
            </li>
            <li>
              Download MMS after 20 seconds; send Read Report after 30 seconds with READ status;
              Allow
              Delivery Report<br>
              MmsRecipientPhoneProfile recProfiles =
              MmsRecipientPhoneProfile.create(MmsDownloadOptionsModel.createManualDownload(20),
              MmsReadReportOptionsModel.createReadReport(30, ReadStatus.RAED), true);
            </li>
            <li>
              Send profile setting to recipient phone<br>
              boolean profileSetOk = test.Mms().Profile().setRecipinentPhoneProfile(recProfiles,
              phoneB);
            </li>
          </ul>

          Creating MMS

          <ul>
            <li>
              test.Mms()
            </li>
            <li>
              If you want to send new MMS message from phone, create instance of MmsSendModel class
              and set its attributes
            </li>
          </ul>

          <div class="border">
            MmsSendModel mms = new MmsSendModel();<br>
            String numTo = "+420602301498";<br>
            <br>
            mms.addTo(numTo);<br>
            mms.setText("Hello world");<br>
            <br>
            mms = MmsUtils.setDefaultTestProfile(mms);<br>
            <br>
            mms.setDeliveryReport(true);<br>
            mms.setReadReport(false);<br>
            <br>
            AttachmentSend img1 = AttachmentHelper.loadImage(AppConfig.SmallImg);<br>
            mms.addAttachment(img1);<br>
          </div>

          <ul>
            <li>
              MmsSendMessageId mmsSendReqId = test.Mms().sendMms(mms, phoneA);
            </li>
            <li>
              The method returns the sent message identifier, which can then be used to obtain
              all senders PDUs.
            </li>
          </ul>

          SendReq
          <ul>
            <li>
              SendReqModel sendReq = test.Mms().waitFor().anySendReq(phoneA);
            </li>
          </ul>

          SendConf
          <ul>
            <li>
              SendConfModel sendConf = test.Mms().waitFor().anyMmsConf(mmsSendReqId);
            </li>
            <li>
              boolean noSendConf = test.Mms().mustTimeoutFor().mmsConf(mmsSendReqId);
            </li>
          </ul>

          NotificationInd
          <ul>
            <li>
              NotificationIndModel notifInd = test.Mms().waitFor().anyNotificationInd(phoneB);
            </li>
            <li>
              boolean noNotificationInd = test.Mms().mustTimeoutFor().notificationInd(phoneB);
            </li>
          </ul>

          RetrieveConf
          <ul>
            <li>
              RetrieveConfModel retrieveConfs = test.Mms().waitFor().anyRetrieveConf(phoneB);
            </li>
            <li>
              boolean noRetrieveConf = test.Mms().mustTimeoutFor().retrieveConf(phoneB);
            </li>
          </ul>

          NotifyRespInd
          <ul>
            <li>
              NotifyRespIndModel notifyRespIndModel = test.Mms().waitFor().anyNotifyRespInd(phoneB);
            </li>
            <li>
              boolean noNotifyRespInd = test.Mms().mustTimeoutFor().notifyRespInd(phoneB);
            </li>
          </ul>

          DeliveryInd
          <ul>
            <li>
              DeliveryIndModel deliveryIndModel = test.Mms().waitFor().anyDeliveryInd(phoneA);
            </li>
            <li>
              boolean noDeliveryInd = test.Mms().mustTimeoutFor().deliveryInd(phoneA);
            </li>
          </ul>

          AcknowledgeInd
          <ul>
            <li>
              AcknowledgeIndModel acknowledgeIndModel =
              test.Mms().waitFor().anyAcknowledgeInd(phoneB);
            </li>
            <li>
              boolean noAcknowledgeInd = test.Mms().mustTimeoutFor().acknowledgeInd(phoneB);
            </li>
          </ul>

          ReadRecInd
          <ul>
            <li>
              ReadRecIndModel readRecIndModel = test.Mms().waitFor().anyReadRecInd(mmsSendReqId);
            </li>
            <li>
              boolean noReadRecInd = test.Mms().mustTimeoutFor().readRecInd(phoneB);
            </li>
          </ul>

          ReadOrigInd
          <ul>
            <li>
              ReadOrigIndModel readOrigIndModel = test.Mms().waitFor().anyReadOrigInd(phoneA);
            </li>
            <li>
              boolean noReadOrigInd = test.Mms().mustTimeoutFor().readOrigInd(phoneA);
            </li>
          </ul>


        </div>
      </app-box>


      <app-box id="SMSC_service">
        <h4 class="d-inline" title>
          SMSC service
        </h4>
        <div body>
          <ul>
            <li>
              test.Smsc()
            </li>
            <li>
              Service to connect server to SMSC
            </li>
          </ul>

          Create connection

          <ul>
            <li>
              If you want to connect to SMSC, create instance of SmscConnectModel class and set its
              attributes
            </li>
          </ul>

          <div class="border">

            public static SmscConnectModel getConnectModel()<br>
            &#123;<br>
            SmscConnectModel smscConnectModel = new SmscConnectModel();<br>
            smscConnectModel.setHost("10.20.30.40");<br>
            smscConnectModel.setPort(7788);<br>
            smscConnectModel.setSystemId("mySystemID");<br>
            smscConnectModel.setPassword("password");<br>
            smscConnectModel.setSystemType("smpp");<br>
            smscConnectModel.setConnType(SmscConnectType.TRANSCEIVER);<br>
            <br>
            smscConnectModel.setConnectTimeout(10000);<br>
            smscConnectModel.setLogBytes(true);<br>
            smscConnectModel.setRequestExpiryTimeout(10000);<br>
            smscConnectModel.setWindowMonitorInterval(15000);<br>
            smscConnectModel.setCountersEnabled(true);<br>
            <br>
            return smscConnectModel;<br>
            &#125;
          </div>

          <ul>
            <li>
              Connect to SMSC and retrieve session ID
            </li>
          </ul>
          <div class="border">
            SmscConnectResponseModel connectResult = test.Smsc().connectToSMSC(connectModel);<br>
            SmscSessionId sessionID = connectResult.getSessionId();
          </div>
          <ul>
            <li>
              Note that identifier is generated by the application server and is only used to
              identify
              specific
              connection
            </li>
            <li>
              You can create more connections to different SMSC
            </li>
          </ul>

          Send SMS from SMSC
          <ul>
            <li>
              If you want to send new SMS message from SMSC, create instance of SmscSendModel class
              and set its attributes
            </li>
          </ul>

          <div class="border">
            SmscSendModel sms = new SmscSendModel();<br>
            sms.setShortMessage(SampleTextUtils.generateText("SmscTest1", 160));<br>
            sms.setSenderAddress(new SmscAddressModel(TypeOfNumber.UNKNOWN,
            NumberingPlanIndicator.UNKNOWN,
            AppConfig.SMSCNumber));<br>
            sms.setRecipientAddress(new SmscAddressModel(TypeOfNumber.UNKNOWN,
            NumberingPlanIndicator.UNKNOWN, numTo));<br>
            sms.setDeliveryReport(true);<br>
            <br>
            SmscSendSmsResponseModel sendResult = test.Smsc().sendSms(sessionID, sms);
          </div>

          <ul>
            <li>
              SmscSendSmsResponseModel sendResult = test.Smsc().sendSms(sessionID, sms);
            </li>
          </ul>

          SMSC Delivery Report
          <ul>
            <li>
              SmscDeliveryReportModel smscDeliveryReport =
              test.Smsc().waitFor().anyDeliveryReport(sessionID);
            </li>
            <li>
              Expecting five SMS delivery report to be received in 20 seconds:
              List&#60;SmscDeliveryReportModel&#62; smscDeliveryReport =
              test.Smsc().waitFor().anyDeliveryReport(sessionID, 5,
              CustomTimeout.CUSTOM_TIMEOUT_20);
            </li>
          </ul>

          SMSC Receive message
          <ul>
            <li>
              SmscDeliverSmModel smsReceived = test.Smsc().waitFor().anySmsReceive(sessionID);
            </li>
            <li>
              List&#60;SmscDeliverSmModel&#62; smsReceived =
              test.Smsc().waitFor().anySmsReceive(sessionID, 5, CustomTimeout.CUSTOM_TIMEOUT_20);
            </li>
          </ul>


          Disconnect
          <ul>
            <li>
              Disconnect server from SMSC
            </li>
            <li>
              <strong>Server will disconnect from SMSC automatically then test case is
                finished</strong>
            </li>
            <li>
              boolean disconnectResult = test.Smsc().disconnect(sessionID);
            </li>
          </ul>

        </div>
      </app-box>


      <app-box id="MMSC_service">
        <h4 class="d-inline" title>
          MMSC service
        </h4>
        <div body>

          Route locks
          <ul>
            <li>
              Since the server listens to all incoming messages from the MMS centers, it is
              necessary
              to distinguish to which test to forward it. Before sending or receiving MMS message
              from/to MMSC, you need to set Route lock
            </li>
            <li>
              Test must register specific address (or range of addresses) that wants to received
              messages from (subscribe to)
            </li>
            <li>
              Registration is done by creating and submitting an instance of the
              MmscAcquireRouteModel
              class.
            </li>
            <li>
              MmscAcquireRouteModel contains pattern property which is wild card for MMS recipient
              number
            </li>
            <li>
              Router lock is discarded after test is finished
            </li>
          </ul>


          <table class="table table-striped table-bordered col-md-4">
            <caption>Example of MmscAcquireRouteModel pattern</caption>
            <thead>
            <tr>
              <th scope="col">MMS recipient number</th>
              <th scope="col">Pattern</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>123456</td>
              <td>"123456"</td>
            </tr>
            <tr>
              <td>123777; 123888; 123999</td>
              <td>"123*"</td>
            </tr>
            <tr>
              <td>MyService123</td>
              <td>"MyServ*"</td>
            </tr>
            </tbody>
          </table>

          <ul>
            <li>
              <strong>If any of the recipients number (To, Bcc, Cc) in received MMS match the
                pattern,
                MMS is forwarded to the test case</strong>
            </li>
          </ul>

          <div class="border">
            MmscAcquireRouteModel acquire = new MmscAcquireRouteModel();<br>
            acquire.setPattern("123*");<br>
            boolean acquireResponse = test.Mmsc().acquireRouteLock(acquire);<br>
          </div>

          Sending MMS
          <ul>
            <li>Create MMSC connection settings</li>
          </ul>

          <div class="border">
            MmscSendConnectionModel conn = new MmscSendConnectionModel();<br>
            conn.setAddress("127.0.0.1:2007");<br>
            conn.setUsername("dmccztest");<br>
            conn.setPassword("passdmcczt");<br>
            conn.setVaspId("DMC_CZ_test");<br>
            conn.setVasId("DMC_CZ_test");<br>
            conn.setMm7Version("6.8.0");<br>
          </div>

          <ul>
            <li>Create new MMS message</li>
          </ul>

          <div class="border">

            MmscSendMmsModel mmsModel = new MmscSendMmsModel(); <br>
            <br>
            MM7Address sender = new MM7Address("123456", AddressType.NUMBER,
            RecipientType.FROM);<br>
            mmsModel.setSenderAddress(sender);<br>
            <br>
            MM7Address recipient = new MM7Address("777888999", AddressType.NUMBER,
            RecipientType.TO);<br>
            mmsModel.addRecipientTo(recipient);<br>
            <br>
            mmsModel.setMessageClass(MessageClass.PERSONAL);<br>
            mmsModel.setExpiryDate(new MM7RelativeDate("PT2M"));<br>
            <br>
            mmsModel.setDeliveryReport(false);<br>
            mmsModel.setPriority(Priority.NORMAL);<br>
            mmsModel.setSubject("O2 Test");<br>
            mmsModel.setChangedParty(ChargedParty.SENDER);<br>
            <br>

          </div>

          MMS text
          <ul>
            <li>
              String text = "My testing MMS";<br>
              mmsModel.addMm7Text(new MM7Text(text, MM7Encoding.BASE64));
            </li>
            <li>
              String text = "My testing MMS";<br>
              mmsModel.addMm7Text(new MM7Text(text, MM7Encoding.UTF8));
            </li>
          </ul>

          MMS attachments
          <ul>
            <li>
              MM7Attachment img = AttachmentHelperMM7.create("C:\img\image.png",
              "img-content-id");<br>
              mmsModel.addMm7Attachment(img);
            </li>
            <li>
              MM7Attachment img = AttachmentHelperMM7.create("C:\video\video.mp4",
              "video-content-id");<br>
              mmsModel.addMm7Attachment(img);
            </li>
            <li>
              File imgFile;<br>
              MM7Attachment img = AttachmentHelperMM7.create(imgFile, "img-content-id");<br>
              mmsModel.addMm7Attachment(img);
            </li>
          </ul>

          Send MMS
          <div class="border">
            MmscSendModel mmscSendModel = new MmscSendModel(conn, mmsModel);<br>
            MM7SubmitResponseModel sendResponse = test.Mmsc().sendMms(mmscSendModel);
          </div>

          MMS Delivery report
          <div class="border">
            MM7DeliveryReportReqModel mmsDeliveryReport =
            test.Mmsc().waitFor().anyDeliveryReportReq();
          </div>

          Receive MMS
          <div class="border">
            MM7DeliveryReqModel receivedMms = test.Mmsc().waitFor().anyDeliveryReq();
          </div>


        </div>
      </app-box>


    </main>


      

    <hr>


    <br>
    <br>
    <br>


  </div>
  <div class="tests_right_navigation">


    <ul class="tests_right_navigation--list" >
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Client_library_installation">Client library installation</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Before_you_begin">Before you begin</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Creating_test_cases">Creating test cases</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Creating_Test_Groups">Creating Test Groups</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Test_case_logging">Test case logging</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Validations">Validations</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Errors_and_exceptions">Errors and exceptions</a></li>
      <li style="list-style: none; margin-top: 1.5rem"></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="Phones_service">Phones service</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="SMS_service">SMS service</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="MMS_service">MMS service</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="SMSC_service">SMSC service</a></li>
      <li><em class="fas fa-angle-right fa-fw"></em><a [routerLink]="['/tests']" fragment="MMSC_service">MMSC service</a></li>
    </ul>


  </div>
</div>
