<my-panel type="warning">
  <div title>Validation results
    <expand-hide-button [isExpanded]="detailVisible"
                        (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">


    <div *ngIf="data && data.length != 0">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Count: {{data.length}}</th>
          <th scope="col">Validation name</th>
          <th scope="col">Validation Item</th>
          <th scope="col">Expected</th>
          <th scope="col">Actual</th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of data">


          <td [className]="row.result ? 'resultTrue' : 'resultFalse'">
            <test-result [hasErrors]="!row.result"></test-result>
          </td>

          <td>
            {{row.validationName}}
          </td>

          <td>{{row.validationItemName}}</td>
          <td>
            <longdataprotect [jsondata]="row.expected"></longdataprotect>
          </td>
          <td>
            <longdataprotect [jsondata]="row.actual"></longdataprotect>
          </td>


        </tr>
        </tbody>
      </table>


    </div>
    <div *ngIf="!(data && data.length != 0)">
      <no-data></no-data>

    </div>

  </div>
</my-panel>

