<div>
  <button mat-button color="primary" (click)="openString()">String</button>
  <button mat-button color="primary" (click)="openByteArray()">Byte[]</button>
  <button mat-button color="primary" (click)="openBase64()">BASE64</button>
  <button mat-button color="primary" (click)="openImage()">Image</button><br>
  <button mat-button color="primary" (click)="openDownloadString()">Download String</button>
  <button mat-button color="primary" (click)="openDownloadByteArray()">Download Byte[]</button>
  <button mat-button color="primary" (click)="openDownloadBase64()">Download BASE64</button>
</div>
