<spinner *ngIf="loading"></spinner>

<toolbar-panel

  (onRefreshButtonClick)="reload()"

  [backButtonVisible]="true"
  (onBackButtonClick)="onShowTest($event)"

  [printButtonVisible]="true"

  [downloadButtonVisible]="true"
  (onDownloadButtonClick)="onDownloadClick($event)"

></toolbar-panel>

<h2>Message detail</h2>

<ng-container *ngIf="message">

  <h4>{{translateKey(message.messageKey)}}</h4>
  <h6>{{message.messageKey}}</h6>


  <jsontable *ngIf="jsonObject" [jsondata]="jsonObject"></jsontable>
</ng-container>


