<div *ngIf="jsondata">
  <table class="table table-bordered">
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of getKeys(jsondata)">
      <td>{{row}}</td>
      <td>
        <longdataprotect [jsondata]="jsondata[row]"></longdataprotect>
      </td>
    </tr>
    </tbody>
  </table>
</div>
