<div class="wrapper">

  <!-- Navigation -->
  <div class="layout__navigation">
    <app-header class="layout__navigation--header"></app-header>
  </div>

  <div class="layout__page">

    <div class="layout__page--navigation">
      <app-navigation></app-navigation>
    </div>
    <div class="layout__page--content">
      <div class="layout__page--content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>

<app-fab-button-top></app-fab-button-top>
