<spinner *ngIf="loading"></spinner>

<br>
<br>

<common-button (onClick)="onRefreshServerCaches()" >Refresh server caches</common-button>

<br>
<br>

<hr>
<h4>Delete old test</h4>
<mat-form-field class="example-full-width">
  <input #inNumberDaysDelete matInput type="number" min="1" placeholder="Older then (days)"
         value="7">
</mat-form-field>
<delete-button (onClick)="deleteOldTests(inNumberDaysDelete.value)"></delete-button>
