<!-- Navigation -->
<nav
  class="navigation__container"
  role="navigation">

  <div class="">
    <div
      class="navigation--list"
      id="side-menu">


      <div class="navigation--item">
        <a [routerLink]="['/dashboard']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-dashboard fa-fw"></em>
          Dashboard
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/sessions']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-plug fa-fw"></em>
          Sessions
        </a>
      </div>


      <div class="navigation--item">
        <a [routerLink]="['/clients']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-desktop fa-fw"></em>
          Clients
        </a>
      </div>


      <div class="navigation--item">
        <a [routerLink]="['/phones']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-mobile fa-fw"></em>
          Phones
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/testinstances']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-check fa-fw"></em>
          Test Instances
        </a>
      </div>

      <div class="navigation--item">
        <a [routerLink]="['/testgroupview']" role="button"  [routerLinkActive]="['navigation--item-active']">
          <em class="fa fa-object-group fa-fw"></em>
          Test Groups
        </a>
      </div>

    </div>
  </div>
</nav>
