<div>

  <h1>Test notes</h1>


  <h3>ClientLib - Waiting for incoming message</h3>

  <img src="assets/img/test-notes/incoming_message.png" class="test-notes--image-1" alt="Diagram - Waiting for incoming message"/>


  <h4>waitFor()

</h4>

  <p>
    Most test interface services provide a waitFor() function that provides an interface to message
    waiting services. Most methods in these interfaces allow you to use the expectedCount and
    timeout parameters.
  </p>
  <p>
    The timeout parameter is used to replace the timeout locally (in seconds) - if this parameter is
    not filled in, the default timeout set in the TestSettings class is used.
  </p>
  <p>
    The expectedCount parameter is used to specify the exact number of how many messages of the
    given type are expected.
         The function waiting for incoming messages runs until the required number of messages of
    the given type is in the MessageRegister.
         It has two pitfalls. When writing a test, it must be known in advance how many messages of
    the given type are expected.
    <strong>
         If the actual number of these messages is less than or greater than expectedCount, the wait
    method ends with a timeout error.
    </strong>
         It may also happen that, for example, waiting for 2 messages of a given type succeeds and
    actually returns two messages.
         However, a third message of the given type is received a bit later, which could indicate
    a test error.
  </p>
  <p>
    The ITestInstance interface offers the ITestInfo service, which provides a list of all received
    and sent messages in a given test.
         It is therefore possible to scroll through these lists and check the types and numbers of
    messages at the end of the test.
         However, this feature is not implemented in the library and must be created by the user.
         Another option is to open the test in the Web interface of the server, where all the
    details of the test incl. all messages belonging to the test.
  </p>


  <h3>Possible Test case collisions</h3>

  <img src="assets/img/test-notes/test_collision.png" class="test-notes--image-2" alt="Diagram - Two test cases collision" />
  <br>

</div>
