@import "../../../themes/flex-style/variables";

.test-notes--image {

  &-1 {
    width: 50%;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }
  }

  &-2 {
    width: 30%;

    @media only screen and (max-width: $bp-large) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }


}
