@import "variables";
@import "mixins";

*,
*::before,
*::after {
  //margin: 0;
  //padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 100%;
  font-size: 87.5%;
  // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @include width-max(100%);
  height: 100%;

  @media only screen and (max-width: $bp-largest) {
    // font-size: 50%;
    word-wrap: break-word;
  }
}

body {
  @include width-max(100%);
  height: 100%;


  font-family: $font-primary;
  color: $color-text-dark;
  background-color: $color-bc-content;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}
