<a href="assets/data/MmsParamsServer-1.0.3.jar"
   *ngIf="type == 'SERVER'">MmsParamsServer-1.0.3.jar (~60 MB)</a>

<a href="assets/data/MmsParamsServer-1.0.3.war"
   *ngIf="type == 'SERVER-WAR'">MmsParamsServer-1.0.3.war (~60 MB)</a>

<a href="assets/data/MmsParams-1.0.3_arm.apk" *ngIf="type == 'ANDROID_ARM'">MmsParams-1.0.3_arm.apk (~30 MB)</a>
<a href="assets/data/MmsParams-1.0.3_x86.apk" *ngIf="type == 'ANDROID_X86'">MmsParams-1.0.3_x86.apk (~30 MB)</a>
<a href="assets/data/MmsParams-1.0.3_universal.apk" *ngIf="type == 'ANDROID_UNIVERSAL'">MmsParams-1.0.3_universal.apk (~50 MB)</a>


<a href="assets/data/MmsParamsAPI-1.0.3.jar" *ngIf="type == 'API'">MmsParamsAPI-1.0.3.jar (~300 kB)</a>
<a href="assets/data/MmsParamsClientLib-1.0.3.jar" *ngIf="type == 'CLIENT'">MmsParamsClientLib-1.0.3.jar  (~2.5 MB)</a>

