@import "../../../themes/variables";

.greenIcon {
  color: $color-success;
}

.redIcon {
  color: $color-error;
}

.orangeIcon {
  color: $color-warning;
}


.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0;
}

[type="radio"].radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.active {
  color: red;
}

.noactive {
  color: blue;
}
