<mat-button-toggle-group #group="matButtonToggleGroup" (change)="onOptionChanged($event)"  [value]="defaultValue">

  <mat-button-toggle value="YES" aria-label="Text align left">
    <em class="fa fa-check fa-2x greenIcon"></em>
  </mat-button-toggle>

  <mat-button-toggle value="NO" aria-label="Text align center">
    <em class="fa fa-times fa-2x redIcon"></em>
  </mat-button-toggle>

  <mat-button-toggle value="ALL" aria-label="Text align right">
    ALL
  </mat-button-toggle>

</mat-button-toggle-group>
