<div>

  <h1>How to build whole project</h1>

  <div class="dev_step dev_code">
    git clone https://domestos99@bitbucket.org/domestos99/mmsparams2.git
  </div>

  <h3>a) Requirements</h3>

  <ol>
    <li>Maven</li>
    <li><a href="https://nodejs.org/en/">NodeJS</a> (node -v)</li>
    <li>NPM (npm -v)</li>
    <li><a href="https://cli.angular.io/">AngularCLI</a> (npm install -g @angular/cli)</li>
  </ol>

  <div class="horizontal_line"></div>

  <h3>b) How to build SERVER</h3>

  <h4>Server FRONTEND build</h4>

  <em>*if nothing changes in the frontend folder, just do it once</em><br>
  <em>*on Linux, some commands must be run with the sudo prefix</em>
  <div class="dev_step dev_code">
    cd MmsParamsServer\frontend
  </div>
  <div class="dev_step dev_code">
    npm install
  </div>
  <div class="dev_step dev_code">
    npm run build
  </div>
  <div class="dev_step dev_code">
    Delete everything in folder: 'MmsParamsServer\src\main\resources\static'
  </div>
  <div class="dev_step dev_code">
    Copy everything from folder 'MmsParamsServer\frontend\dist' to folder
    'MmsParamsServer\src\main\resources\static'
  </div>


  <h4>SERVER build</h4>

  <div class="dev_step dev_code">
    mvn package
  </div>

  <div class="dev_step dev_info">
    Server app is now: 'MmsParamsServer\target\MmsParamsServer-1.0.3.jar'
  </div>

  <div class="dev_step dev_info">
    Continue with section <a [routerLink]="['/install']"> Installation</a>
  </div>


  <h4>Possible problems</h4>

  <div class="dev_step">
    a) Error 'npm rebuild node-sass': <br>
    1. cd MmsParamsServer\frontend<br>
    2. npm rebuild node-sass
  </div>
  <div class="dev_step">
    b) Other npm errors:<br>
    Try running as sudo
  </div>


  <div class="horizontal_line"></div>

  <h3>c) ClientLib build</h3>

  <div class="dev_step dev_code">
    In the project root folder: 'mvn package'
  </div>

  <div class="dev_step dev_info">
    MmsParamsClientLib\target\MmsParamsClientLib-1.0.3-jar-with-dependencies.jar
  </div>


  <div class="horizontal_line"></div>

  <h3>d) Android</h3>

  <div class="dev_step dev_code">
    Open the MMSParams2Android folder in Android Studio
  </div>

  <div class="dev_step dev_code">
    Copy file "MmsParamsAPI\target\MmsParamsAPI-1.0.3-jar-with-dependencies.jar" to
    "MmsParams2Android\app\libs" and name it as "MmsParamsAPI-1.0.3.jar"
  </div>


  <div class="horizontal_line"></div>


</div>
