<div>
  <h1>Installation</h1>

  <h2>Server Installation</h2>

  <div class="dev_step dev_code">
    Download:
    <download [type]="'SERVER'"></download>
  </div>

  <div class="dev_step dev_code">
    Open server application file (.jar) as zip/rar file
  </div>

  <div class="dev_step dev_code">
    Configure file 'BOOT-INF\classes\application.properties'
  </div>

  <div class="dev_step dev_code">
    java -jar MmsParamsServer-1.0.3.jar
  </div>

  <div class="dev_step dev_info">
    Try: <a href="http://localhost:4301/">http://localhost:4301/</a>
  </div>

  <div class="horizontal_line"></div>

</div>

<div>
  <h2>Client installation</h2>

  <div class="dev_step dev_code">
    Download
    <download [type]="'API'"></download>
    and
    <download [type]="'CLIENT'"></download>
  </div>
  <div class="dev_step dev_code">
    Add dependencies to these jars in your project
  </div>

  <div class="dev_step dev_info">
    Check examples here: <a
    href="https://bitbucket.org/domestos99/mmsparams2/src/master/MmsParamsTestSamples/src/main/java/cz/uhk/dip/mmsparams/testsamples/"
    target="_blank" rel="noopener noreferrer">Test example</a>
  </div>

  <div class="horizontal_line"></div>

</div>

<div>
  <h2>Android installation</h2>

  <div class="dev_step dev_info">
    Download one of these:
    <br>
    <download [type]="'ANDROID_ARM'"></download>
    <br>
    <download [type]="'ANDROID_X86'"></download>
    <br>
    <download [type]="'ANDROID_UNIVERSAL'"></download>
    <br>
  </div>

  <div class="dev_step dev_warning">
    If you have any problem installing app, try different version or uninstall previous one
  </div>

  <div class="dev_step dev_code">
    Enter your number and Enter code received in SMS:
  </div>

  <img alt="Android Screen 1" src="assets/img/regist-1.jpg" width="300px"
       class="margin-5 img-border"/>

  <img alt="Android Screen 1" src="assets/img/regist-2.jpg" width="300px"
       class="margin-5 img-border"/>

  <br>

  <div class="dev_step dev_code">
    Disable Signal messages (Settings -> Advanced Settings)
  </div>

  <img alt="Android Screen 1" src="assets/img/app_menu-1.jpg" width="300px"
       class="margin-5 img-border"/>

  <img alt="Android Screen 2" src="assets/img/app_disable_signal.jpg" width="300px"
       class="margin-5 img-border"/>

  <br>

  <div class="dev_step dev_code">
    Now you can setup connection to server (Menu -> Api Interface -> Settings) and then connect to
    server:
  </div>

  <img alt="Android Screen 1" src="assets/img/app_menu-2.jpg" width="300px"
       class="margin-5 img-border"/>

  <img alt="Android Screen 3" src="assets/img/app_ws_settings.jpg" width="300px"
       class="margin-5 img-border"/>

  <img alt="Android Screen 4" src="assets/img/app_ws_start.jpg" width="300px"
       class="margin-5 img-border"/>

  <br>


  <div class="dev_step dev_info">
    Other features<br>
    Display messages detail (+ PDU) - select message by holding next to it and then tap "E" button
    <br>
    You can also setup auto deleteting messages
  </div>

  <img alt="Android Screen 5" src="assets/img/app_pdu_info.jpg" width="300px"
       class="margin-5 img-border"/>

  <img alt="Android Screen 6" src="assets/img/app_delete_old.jpg" width="300px"
       class="margin-5 img-border"/>

  <div class="horizontal_line"></div>

</div>
