<ng-container *ngIf="!dateInput">

  <toolbar-panel (onRefreshButtonClick)="reload()"
                 [downloadButtonVisible]="true"
                 (onDownloadButtonClick)="downloadAsJsonEvent($event)"
                 [printButtonVisible]="true"></toolbar-panel>

</ng-container>

<h3>Session detail</h3>

<spinner *ngIf="loading"></spinner>


<my-panel type="success">
  <div title></div>
  <div body>
    <div *ngIf="data">

      <table class="table table-striped table-bordered">
        <thead>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        </thead>

        <tbody>

        <tr>
          <td>Session ID</td>
          <td>{{data.id}}</td>
        </tr>
        <tr>
          <td>Local Address</td>
          <td>{{data.localAddress}}</td>
        </tr>
        <tr>
          <td>Remote Address</td>
          <td>{{data.remoteAddress}}</td>
        </tr>
        <tr>
          <td>Text Message Size Limit</td>
          <td>{{data.textMessageSizeLimit}}</td>
        </tr>

        <tr>
          <td>Accepted Protocol</td>
          <td>{{data.acceptedProtocol}}</td>
        </tr>
        <tr>
          <td>Extensions</td>
          <td>
            <ng-container *ngFor="let ext of data.extensions">
              {{ext}}<br>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td>Principal</td>
          <td>{{data.principal}}</td>
        </tr>

        </tbody>
      </table>


    </div>
    <div *ngIf="!data">
      <no-data></no-data>
    </div>

  </div>
</my-panel>
