@import "../../../../themes/variables";


.borderLeft {
  border-left: 1px solid black;
}


.borderLeft tr td {
  padding-left: 10px;
}

.smsc-detail {
  &__container {
    display: flex;
    justify-items: stretch;
    //flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__section {
    flex: auto;
    display: flex;
    flex-direction: column;

    border-left: 1px solid black;
    padding-left: 10px;

    &:first-child {
      .smsc-detail__section--item--value {
        font-weight: bold;
      }
    }

    &--item {
      flex: 1;
      display: flex;
      padding: .2rem 0;

      &:nth-child(odd) {
        background-color: #F2F2F2;
      }

      &--key {
        flex: 1;
        padding-right: 1rem;
      }

      &--value {
        flex: 2;
        padding-right: .2rem;
      }
    }


  }


}
