<my-panel type="warning">
  <div title></div>
  <div body>

    <div class="smsc-detail__container">

      <div class="smsc-detail__section">
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Host</div>
          <div class="smsc-detail__section--item--value">{{row.host}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Port</div>
          <div class="smsc-detail__section--item--value">{{row.port}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">System Id</div>
          <div class="smsc-detail__section--item--value">{{row.systemId}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Password</div>
          <div class="smsc-detail__section--item--value">{{row.password}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">System Type</div>
          <div class="smsc-detail__section--item--value">{{row.systemType}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Type</div>
          <div class="smsc-detail__section--item--value">{{row.type}}</div>
        </div>
      </div>
      <div class="smsc-detail__section">
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Local Type</div>
          <div class="smsc-detail__section--item--value">{{row.localType}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Remote Type</div>
          <div class="smsc-detail__section--item--value">{{row.remoteType}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Address Range</div>
          <div class="smsc-detail__section--item--value">{{row.addressRange}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Bound Time</div>
          <div
            class="smsc-detail__section--item--value">{{row.boundTime | date:'dd.MM.yyyy HH:mm:ss.SSS'}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Connect Timeout</div>
          <div class="smsc-detail__section--item--value">{{row.connectTimeout}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Bind Timeout</div>
          <div class="smsc-detail__section--item--value">{{row.bindTimeout}}</div>
        </div>
      </div>
      <div class="smsc-detail__section">
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Name</div>
          <div class="smsc-detail__section--item--value">{{row.name}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">smscSessionId</div>
          <div class="smsc-detail__section--item--value">{{row.smscSessionId}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Counters Enabled</div>
          <div class="smsc-detail__section--item--value">{{row.countersEnabled}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Interface Version</div>
          <div class="smsc-detail__section--item--value">{{row.interfaceVersion}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Request Expiry Timeout</div>
          <div class="smsc-detail__section--item--value">{{row.requestExpiryTimeout}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Use SSL</div>
          <div class="smsc-detail__section--item--value">{{row.useSsl}}</div>
        </div>
      </div>
      <div class="smsc-detail__section">
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Window Monitor Interval</div>
          <div class="smsc-detail__section--item--value">{{row.windowMonitorInterval}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Window Size</div>
          <div class="smsc-detail__section--item--value">{{row.windowSize}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Window Wait Timeout</div>
          <div class="smsc-detail__section--item--value">{{row.windowWaitTimeout}}</div>
        </div>
        <div class="smsc-detail__section--item">
          <div class="smsc-detail__section--item--key">Write Timeout</div>
          <div class="smsc-detail__section--item--value">{{row.writeTimeout}}</div>
        </div>
        <!--        <div class="smsc-detail__section&#45;&#45;item"></div>-->
        <!--        <div class="smsc-detail__section&#45;&#45;item"></div>-->
      </div>


    </div>
  </div>
</my-panel>



