<h1><img src="favicon.ico" alt="logo" /> MMS Params - server website</h1>



Version: {{systemVersionModel.systemVersion}}
<br>

<h3>
  <a rel="noopener noreferrer" href="https://mmsparams2.firebaseapp.com" target="_blank">Documentation</a>
</h3>


<hr>

<h3>Downloads</h3>

<ul>
  <li>
    <a rel="noopener noreferrer"
       href="https://mmsparams2.firebaseapp.com/assets/data/MmsParams-1.0.3_arm.apk"
       target="_blank">MmsParams-1.0.3_arm.apk (~30 MB)</a>
  </li>
  <li>
    <a rel="noopener noreferrer"
       href="https://mmsparams2.firebaseapp.com/assets/data/MmsParams-1.0.3_x86.apk"
       target="_blank">MmsParams-1.0.3_x86.apk (~30 MB)</a>
  </li>
  <li>
    <a rel="noopener noreferrer"
       href="https://mmsparams2.firebaseapp.com/assets/data/MmsParams-1.0.3_universal.apk"
       target="_blank">MmsParams-1.0.3_universal.apk (~50 MB)</a>
  </li>
</ul>
