@import "../../../themes/flex-style/variables";

.blue {
  color: blue;
}

.red {
  color: red;
}

.technical_modules-img {
  //
  //height: 300px;
  //
  //@media only screen and (max-width: $bp-medium) {
  //  max-width: 100%;
  //  height: auto;
  //}
}

ul {
  margin: 0;
}

caption {
  caption-side: top;
}
