<div class="message-doc-margin">
<div class="title-css-class">
  <h4><ng-content select="[title]"></ng-content></h4>
</div>
<div class="body-css-class message-doc-body">
  <ng-content select="[body]"></ng-content>
</div>
</div>
