<my-panel type="primary">
  <div title>ClientLib
    <expand-hide-button [isExpanded]="detailVisible"
                        (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">

    <div *ngIf="data && data.clientInfo">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Computer name</th>
          <th scope="col">User name</th>
          <th scope="col">SessionID</th>
        </tr>

        </thead>
        <tbody>

        <tr>
          <td>
            <detail-button
              (onClick)="showClientDetail($event)"></detail-button>
          </td>
          <td>
            <common-button (onClick)="openClientLog($event)">Client log</common-button>
          </td>
          <td>
            {{data.clientInfo.computerName}}
          </td>
          <td>
            {{data.clientInfo.currentUserName}}
          </td>
          <td>
            {{data.session.id}}
          </td>
        </tr>

        </tbody>
      </table>

    </div>
    <div *ngIf="!(data && data.clientInfo)">
      <no-data></no-data>
    </div>

  </div>
</my-panel>
