<div class="myPanel-all" [ngClass]="getClass()">
  <div class="pnl-heading">
    <ng-content select="[title]"></ng-content>
  </div>
  <div class="pnl-body panelBody">
    <ng-content select="[body]"></ng-content>
  </div>
</div>
