.panelBody {
  padding: 5px !important;
}

.myPanel-all {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin: 0 0 1rem 0;
}

.pnl-heading {
  padding: 8px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-weight: bold;
}

.pnl-body {

}

.pnl {

  &-default {

    border-color: #ddd;

    .pnl-heading {
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }

  }

  &-primary {
    border-color: #337ab7;

    .pnl-heading {
      color: #fff;
      background-color: #337ab7;
      border-color: #337ab7;
    }

  }

  &-success {
    border-color: #d6e9c6;

    .pnl-heading {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
  }

  &-info {

    border-color: #bce8f1;

    .pnl-heading {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }
  }

  &-danger {

    border-color: #ebccd1;

    .pnl-heading {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  }

  &-warning {

    border-color: #faebcc;

    .pnl-heading {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;
    }

  }


}
