<spinner *ngIf="loading"></spinner>

<toolbar-panel

  (onRefreshButtonClick)="reload()"

  [backButtonVisible]="true"
  (onBackButtonClick)="onShowTest($event)"

  [printButtonVisible]="true"

  [downloadButtonVisible]="true"
  (onDownloadButtonClick)="onDownLoadClick($event)"

></toolbar-panel>

<h2>Messages sequence</h2>

<div *ngIf="messageSequenceList">

  Test ID: {{messageSequenceList.testID}}<br>
  Message count: {{messageSequenceList.msgCount}}<br>
  Number of participents: {{messageSequenceList.endpointCount}}<br>

  <hr>

  <div *ngFor="let msg of messageSequenceList.messages">
    <sequence-view-row [message]="msg" [phones]="messageSequenceList.phones"></sequence-view-row>
  </div>

</div>


