<toolbar-panel (onRefreshButtonClick)="onRefresh()"
               [downloadButtonVisible]="false"
               [printButtonVisible]="true"
></toolbar-panel>

<h4>Active tests</h4>
<testinstances-list #listOpen [isOpen]="true" [showFilters]="false"></testinstances-list>

<hr>

<testinstances-list #listClose [isOpen]="false"></testinstances-list>
