@import "../../themes/variables";
@import "../../themes/mixins";

.wrapper {
  display: flex;
  flex-direction: column;

  @include width-max(100%);
  height: 100%;
}

.layout {

  &__navigation {
    flex: 0 0 40px;

    &--header {
      //flex: 1;
      //height: 100%;
    }
  }

  &__page {

    flex: 1;

    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    &--navigation {
      flex: 0 0 150px;
    }

    &--content {
      flex: 1;
      background-color: $color-bc-content;

      @media only screen and (max-width: $bp-large) {
        font-size: 80%;
      }

      &-wrapper {
        background-color: white;
        border-radius: 10px;
        margin: 1.5rem;
        padding: .5rem 1.5rem;

        @media only screen and (max-width: $bp-large) {
          margin: 0;
          padding: .3rem .8rem;
        }

      }
    }


  }

}
