<ng-container *ngIf="isLongArray(jsondata)">
  <warning-panel>*** Too Long array or binary data ***</warning-panel>
  <longdatadisplay [data]="jsondata"></longdatadisplay>
</ng-container>

<ng-container *ngIf="isObject(jsondata) && (!isLongArray(jsondata))">
  <jsontable [jsondata]="jsondata"></jsontable>
</ng-container>
<ng-container *ngIf="!isObject(jsondata) && (!isLongArray(jsondata))">
  {{jsondata}}
</ng-container>
