@import "../../../themes/variables";
@import "../../../themes/mixins";

.header {
  &__container {
    flex: 1;
    display: flex;
    align-items: center;
    @include width-max(100%);
    height: 100%;

    color: $color-nav_item;
    background-color: $color-bc-header;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__logo {

    &--link {
      display: flex;
      align-items: center;
      margin: .5rem 1rem;
      cursor: pointer;
      text-decoration: none;

      &--img {
        width: 2rem;
        margin-right: .8rem;
      }

      &--text {
        font-size: 1.2rem;
        color: $color-nav_item;
      }
    }
  }

  &__version {
    flex: 1;
    font-size: 1rem;
    text-align: right;
    justify-self: right;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__settings {
    font-size: 1rem;
    text-align: right;
    justify-self: right;

    &--list {
      list-style: none;
      padding: 0;

    }
  }

}
