<div class="header__container">

  <div class="header__logo">
    <a [routerLink]="['/dashboard']" class="header__logo--link"
       role="button">

      <img src="assets/img/logo.ico" alt="Logo" class="header__logo--link--img"/>

      <span class="header__logo--link--text">
        MMS Params
      </span>
    </a>
  </div>
  <div class="header__version">
    {{systemVersion.systemVersion}}
  </div>
  <div class="header__settings">

    <ul class="header__settings--list">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3"
           role="button">
          <em class="fa fa-gear fa-fw"></em>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/admin']" role="button">
            <em class="fa fa-gear fa-fw"></em>
            Admin
          </a>
          <hr>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/login']" role="button">
            <em class="fa fa-sign-out fa-fw"></em>
            Logout
          </a>
        </div>
      </li>
    </ul>

  </div>

</div>




