<spinner *ngIf="loading"></spinner>

<ng-container *ngIf="showFilters">

  <div class="list-filters__container">

    <div class="list-filters__item">
      <mat-form-field>
        <input matInput (keyup)="applyFilterInput($event.target)"
               [ngModel]="filters.searchString"
               placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="list-filters__item">
      Result:
      <yes-no-all [defaultValue]="filters.hasErrorsFilter"
                  (onOptionChange)="onErrorsFilterChange($event)"></yes-no-all>
    </div>
    <div class="list-filters__item">
      Validations:
      <yes-no-all [defaultValue]="filters.hasValidationErrorsFilter"
                  (onOptionChange)="onValidationErrorFilterChange($event)"></yes-no-all>
    </div>

    <div class="list-filters__item">

      <mat-checkbox [ngModel]="filters.rememberFilters"
                    (change)="onRememberFiltersChange($event)">Remember filters
      </mat-checkbox>
    </div>
  </div>
</ng-container>

<table class="table table-striped table-bordered">

  <thead>

  <th scope="col" class="al-center">Count: {{dataSource.filteredData.length}}</th>
  <th scope="col">Test Name</th>
  <th scope="col" class="al-center">Result</th>
  <th scope="col" class="al-center">Validations</th>
  <th scope="col">Created</th>
  <th scope="col">Test ID</th>
  <th scope="col" class="al-center">Is Closed</th>
  <th scope="col"></th>

  </thead>
  <tbody>

  <ng-container *ngIf="dataSource.filteredData && dataSource.filteredData.length != 0">
    <tr *ngFor="let row of dataSource.filteredData">

      <td class="al-center">
        <detail-button (onClick)="openDetail($event, row)"></detail-button>
      </td>
      <td> {{row.testName}}</td>
      <td class="al-center">
        <test-result [hasErrors]="row.hasErrors" [isOpen]="!row.closed"></test-result>
      </td>
      <td class="al-center">
        <yes-no-nan [hasErrors]="row.validationErrors" [isOpen]="!row.closed"></yes-no-nan>
      </td>
      <td> {{row.createdDT | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</td>
      <td> {{row.testId}}</td>
      <td class="al-center">
        <mat-checkbox class="example-margin" [ngModel]="row.closed"
                      [disabled]="true"></mat-checkbox>
      </td>
      <td class="al-center">
        <delete-button (onClick)="deleteRow(row)"></delete-button>
      </td>

    </tr>
  </ng-container>

  </tbody>

</table>




