table {
  width: 100%;
}

table tr th {
  font-weight: bold;
  font-size: 14px;
}

.list-filters {

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    margin-right: 2rem;
  }
}
