<my-panel type="success">
  <div title>SMSC sessions
    <expand-hide-button [isExpanded]="detailVisible" (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">

    <div *ngIf="data && data.length != 0">

      <ng-container *ngFor="let row of data; let i = index" [attr.data-index]="i">
        <smsc-list-item class="item" [ngClass]="" [row]="row"></smsc-list-item>
      </ng-container>

    </div>
    <div *ngIf="!(data && data.length != 0)">
      <no-data></no-data>

    </div>
  </div>
</my-panel>
