<em class="fa fa-spinner fa-2x orangeIcon" *ngIf="isOpen"></em>
<em class="fa fa-check fa-2x greenIcon" *ngIf="!isOpen && !hasErrors"></em>
<em class="fa fa-times fa-2x redIcon" *ngIf="!isOpen && hasErrors"></em>


