<toolbar-panel (onRefreshButtonClick)="reload()"
               [downloadButtonVisible]="true"
               (onDownloadButtonClick)="downloadAsJsonEvent($event)"
               [printButtonVisible]="true"></toolbar-panel>

<h2>Sessions list</h2>

<spinner *ngIf="loading"></spinner>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col" scope="col">Count: {{data.length}}</th>
    <th scope="col">Id</th>
    <th scope="col">Local Address</th>
    <th scope="col">Remote Address</th>
    <th scope="col">Text Message Size Limit</th>
    <th scope="col">Accepted Protocol</th>
    <th scope="col">Extensions</th>
    <th scope="col">Principal</th>

  </tr>
  </thead>
  <tbody>

  <ng-container *ngIf="data && data.length != 0">
    <tr *ngFor="let row of data">

      <td>
        <detail-button (onClick)="openDetail($event, row)"></detail-button>
      </td>

      <td>{{row.id}}</td>
      <td>{{row.localAddress}}</td>
      <td>{{row.remoteAddress}}</td>
      <td>{{row.textMessageSizeLimit}}</td>
      <td>{{row.acceptedProtocol}}</td>
      <td>{{row.extensions}}</td>
      <td>{{row.principal}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>




