<toolbar-panel (onRefreshButtonClick)="reload()"
               [downloadButtonVisible]="true"
               (onDownloadButtonClick)="downloadAsJsonEvent($event)"
               [printButtonVisible]="true"></toolbar-panel>

<h2>Phones list</h2>

<spinner *ngIf="loading"></spinner>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Count: {{data.length}}</th>
    <th scope="col">Brand</th>
    <th scope="col">Custom name</th>
    <th scope="col">Phone key</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngIf="data && data.length != 0">
    <tr *ngFor="let row of data">
      <td>
        <detail-button (onClick)="openDetail($event, row)"></detail-button>
      </td>
      <td>{{row.brand}}</td>
      <td>{{row.phoneCustomName}}</td>
      <td>{{row.phoneKey}}</td>

      <td>
        <button mat-raised-button color="warn" (click)="forceDisconnect(row)">Force disconnect
        </button>
      </td>

    </tr>
  </ng-container>

  </tbody>
</table>
