<ng-container *ngIf="!dataInput">

  <toolbar-panel (onRefreshButtonClick)="reload()"
                 [downloadButtonVisible]="true"
                 (onDownloadButtonClick)="downloadAsJsonEvent($event)"
                 [printButtonVisible]="true"></toolbar-panel>

</ng-container>

<h3>Phone detail</h3>

<spinner *ngIf="loading"></spinner>


<my-panel type="success">
  <div title></div>
  <div body>
    <div *ngIf="data">


      <table class="table table-striped table-bordered">

        <thead>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        </thead>

        <tbody>

        <tr>
          <td>Phone key</td>
          <td>{{data.phoneKey}}</td>
        </tr>
        <tr>
          <td>Phone Custom Name</td>
          <td><strong>{{data.phoneCustomName}}</strong></td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td><strong>{{data.phoneNumber}}</strong></td>
        </tr>
        <tr>
          <td>IMSI</td>
          <td><strong>{{data.imsi}}</strong></td>
        </tr>
        <tr>
          <td>Manufacturer</td>
          <td>{{data.manufacturer}}</td>
        </tr>
        <tr>
          <td>Model</td>
          <td>{{data.model}}</td>
        </tr>

        <tr>
          <td>Board</td>
          <td>{{data.board}}</td>
        </tr>
        <tr>
          <td>Brand</td>
          <td>{{data.brand}}</td>
        </tr>
        <tr>
          <td>Codes Base</td>
          <td>{{data.codesBase}}</td>
        </tr>
        <tr>
          <td>Fingerprint</td>
          <td>{{data.fingerprint}}</td>
        </tr>
        <tr>
          <td>Host</td>
          <td>{{data.host}}</td>
        </tr>
        <tr>
          <td>Id</td>
          <td>{{data.id}}</td>
        </tr>


        <tr>
          <td>Release</td>
          <td>{{data.releasea}}</td>
        </tr>
        <tr>
          <td>Serial</td>
          <td>{{data.serial}}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{data.type}}</td>
        </tr>
        <tr>
          <td>User</td>
          <td>{{data.usera}}</td>
        </tr>
        <tr>
          <td>Version Incremental</td>
          <td>{{data.versionIncremental}}</td>
        </tr>
        <tr>
          <td>Version SKD</td>
          <td>{{data.versionSdk}}</td>
        </tr>
        <tr>
          <td>Version Sdk Int</td>
          <td>{{data.versionSdkInt}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div *ngIf="!data">
      <no-data></no-data>
    </div>
  </div>
</my-panel>
