<div class="sequence-row__container" cols="6" rowHeight="80px">
  <div class="sequence-row__item sequence-row__item--info">

    <table [ngClass]="isErrorRow(message.messageKey) ?'redBackGround' : '' ">
      <tr>
        <td rowspan="2">
          <detail-button (onClick)="openMessageDetail($event)"></detail-button>
        </td>
        <td>
          ({{message.messageDirection}})
          <strong>{{translateKey(message.messageKey)}}</strong>
        </td>
      </tr>
      <tr>
        <td>{{message.messageID}}</td>
      </tr>
    </table>


  </div>
  <div class="sequence-row__item">
    <ng-container *ngIf="isFromClient(message.senderKey)">
      <em class="fa fa-desktop fa-fw fa-2x"></em>
    </ng-container>
    <ng-container *ngIf="isFromClient(message.recipientKey)">
      <em class="fa fa-desktop fa-fw fa-2x"></em>
    </ng-container>
  </div>
  <div class="sequence-row__item sequence-row__item--arrow" style="width: 30px !important;">
    <ng-container *ngIf="isFromClient(message.senderKey)">
      <em class="fa fa-arrow-right fa-2x"></em>
    </ng-container>
    <ng-container *ngIf="isFromClient(message.recipientKey)">
      <em class="fa fa-arrow-left fa-2x"></em>
    </ng-container>
  </div>
  <div class="sequence-row__item">
    <ng-container *ngIf="isFromServer(message.senderKey)">
      <em class="fa fa-server fa-fw fa-2x"></em>
    </ng-container>
    <ng-container *ngIf="isFromServer(message.recipientKey)">
      <em class="fa fa-server fa-fw fa-2x"></em>
    </ng-container>
  </div>
  <div class="sequence-row__item  sequence-row__item--arrow" style="width: 30px !important;">
    <ng-container *ngIf="isFromPhone(message.recipientKey)">
      <em class="fa fa-arrow-right fa-2x"></em>
    </ng-container>
    <ng-container *ngIf="isFromPhone(message.senderKey)">
      <em class="fa fa-arrow-left fa-2x"></em>
    </ng-container>

  </div>
  <div class="sequence-row__item">

    <ng-container *ngIf="isFromPhone(message.senderKey)">
      <detail-button (onClick)="openPhoneDetail($event, message.senderKey)"></detail-button>
      {{getDeviceNameByKey(message.senderKey)}}
    </ng-container>
    <ng-container *ngIf="isFromPhone(message.recipientKey)">
      <detail-button (onClick)="openPhoneDetail($event, message.recipientKey)"></detail-button>
      {{getDeviceNameByKey(message.recipientKey)}}
    </ng-container>

  </div>

</div>


<hr>
