.redBackGround {
  background-color: red;
}

.sequence-row {
  &__container {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__item {
    flex: 2;
    display: flex;
    align-items: center;
    justify-items: center;

    & > em {
      flex: 1;
      justify-self: center;
    }

    &--info {
      flex: 3;
    }

    &--arrow {
      flex: 1;

      & > em {
        flex: 1;
        justify-self: center;
        text-align: center;
      }
    }
  }
}
