<div *ngIf="data">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">Count: {{data.length}}</th>
      <th scope="col">Created</th>
      <th scope="col">Received by server</th>
      <th scope="col">Message Key</th>
      <th scope="col">Sender Key</th>
      <th scope="col">Recipient Key</th>
      <th scope="col">Message ID</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let row of data">

      <td>
        <detail-button
          (onClick)="openDetail($event, row)"></detail-button>
      </td>
      <td>{{row.createdDT | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</td>
      <td>{{row.insertedDT | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</td>
      <td [ngClass]="isErrorRow(row.messageKey) ?'redBackGround' : '' ">
        <strong>{{translateKey(row.messageKey)}}</strong>
        <br>
        <em>{{row.messageKey}}</em>
      </td>
      <td>
        {{getDeviceNameByKey(row.senderKey)}}
        <key-button [toolTip]="row.senderKey" (onClick)="showAlert(row.senderKey)"></key-button>
      </td>
      <td>
        {{getDeviceNameByKey(row.recipientKey)}}
        <key-button [toolTip]="row.recipientKey"
                    (onClick)="showAlert(row.recipientKey)"></key-button>
      </td>
      <td>{{row.messageID}}</td>

    </tr>
    </tbody>
  </table>

</div>


