<toolbar-panel (onRefreshButtonClick)="reload()"
               [downloadButtonVisible]="true"
               (onDownloadButtonClick)="downloadAsJsonEvent($event)"
               [printButtonVisible]="true"></toolbar-panel>

<spinner *ngIf="loading"></spinner>

<h2>Clients list</h2>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Count: {{data.length}}</th>
    <th scope="col">Computer name</th>
    <th scope="col">Current UserName</th>
    <th scope="col">Client Key</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngIf="data && data.length != 0">
    <tr *ngFor="let row of data">

      <td>
        <detail-button (onClick)="openDetail($event, row)"></detail-button>
      </td>
      <td>{{row.computerName}}</td>
      <td>{{row.currentUserName}}</td>
      <td>{{row.clientKey}}</td>

      <td>
        <button class="clients-list--force-disconnect" mat-raised-button color="warn"
                (click)="forceDisconnect(row)">Force disconnect and close test
        </button>
      </td>

    </tr>
  </ng-container>
  </tbody>
</table>




