<my-panel type="danger">
  <div title>Test errors
    <expand-hide-button [isExpanded]="detailVisible"
                        (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">

    <div *ngIf="data && data.length != 0">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Count: {{data.length}}</th>
          <th scope="col">Error TAG</th>
          <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of data">

          <td>
            <detail-button (onClick)="openDetail($event, row)"></detail-button>
          </td>
          <td>
            {{row.testErrorType}}
            <button mat-icon-button class="detailButton" (click)="onTestErrorTypeDetail(row.testErrorType)">
              <mat-icon aria-label="Detail">help_outline</mat-icon>
            </button>
          </td>
          <td style="white-space: pre-wrap">
            <longdataprotect [jsondata]="row.message" [limit]="1000"></longdataprotect>
          </td>


        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!(data && data.length != 0)">
      <no-data></no-data>
    </div>

  </div>
</my-panel>

