<my-panel type="success">
  <div title>Phones
    <expand-hide-button [isExpanded]="detailVisible"
                        (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">

    <div *ngIf="data && data.length != 0">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Phone custom name</th>
          <th scope="col">SessionId</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of data">

          <td>
            <detail-button
              (onClick)="openDetail2($event, row)">
            </detail-button>
          </td>

          <td>
            {{row.phoneInfo.phoneCustomName}}
          </td>

          <td>
            <ng-container *ngIf="row.session">
              {{row.session.id}}
            </ng-container>
          </td>


        </tr>
        </tbody>
      </table>


    </div>
    <div *ngIf="!(data && data.length != 0)">
      <no-data></no-data>

    </div>

  </div>
</my-panel>



