<toolbar-panel (onRefreshButtonClick)="reload()"
               [downloadButtonVisible]="true"
               (onDownloadButtonClick)="downloadAsJsonEvent($event)"
               [printButtonVisible]="true"></toolbar-panel>

<h3>Client detail</h3>

<spinner *ngIf="loading"></spinner>

<my-panel type="success">
  <div title></div>
  <div body>

    <div *ngIf="data">

      <table role="presentation">
        <tbody>
        <tr>
          <td>Client Key</td>
          <td>{{data.clientKey}}</td>
        </tr>
        <tr>
          <td>Computer Name</td>
          <td>{{data.clientInfo.computerName}}</td>
        </tr>
        <tr>
          <td>User Name</td>
          <td>{{data.clientInfo.currentUserName}}</td>
        </tr>
        </tbody>
      </table>

      <br>

      <sessions-detail [dateInput]="data.session" ></sessions-detail>


    </div>
    <div *ngIf="!data">
      <no-data></no-data>
    </div>
  </div>
</my-panel>



