@import "../../../themes/flex-style/variables";


.fab-button--button {
  right: 20px;
  bottom: 20px;
  position: fixed !important;
  outline: none;
  z-index: 2000;

  font-size: 1rem;
  font-weight: 800;

  text-decoration: none;
  border: none;
  text-align: center;

  color: #ffffff;
  background-color: $color-bc-nav;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
