@import "../../../themes/variables";

.fab__top {
  left: 30px;
  bottom: 20px;
  position: fixed !important;
  z-index: 2000;

  @media only screen and (max-width: $bp-medium) {
    left: auto;
    right: 20px;
  }
}
