<div class="row mt-2">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-click" (click)="detailVisible = !detailVisible">
          <expand-hide-button [isExpanded]="detailVisible"
                              (onClick)="detailVisible = !detailVisible"></expand-hide-button>
          <ng-content select="[title]"></ng-content>
      </div>
      <div class="card-body">
        <ng-content select="[body]" class="card-text" *ngIf="detailVisible"></ng-content>
      </div>
    </div>
  </div>
</div>
