//.message-doc-margin {
//  margin-left: 20px;
//  border: 1px solid black;
//}
//
//
//.message-doc-body {
//  margin-left: 30px;
//}

.card-body {
  padding: 5px;
}

.card-header-click {
  cursor: pointer;
}
