<spinner *ngIf="loading"></spinner>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header login-header">

          <div class="login-logo__container">
            <img src="assets/img/logo.ico" alt="Logo" class="login-logo--img"/>
            <span class="login-logo--text">MMS Params</span>
          </div>

        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="mb-1"
                     for="username">Username</label>
              <input
                formControlName="username"
                class="form-control py-4" id="username" type="text"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                placeholder="Username"/>

              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>

            </div>
            <div class="form-group">
              <label class="mb-1" for="inputPassword">Password</label>
              <input
                class="form-control py-4" id="inputPassword" type="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                placeholder="Enter password"/>

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>

            <div
              class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
              <button [disabled]="loading" class="btn btn-lg btn-success btn-block">Login
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer text-center card-footer--error" *ngIf="globalErrorMessage">
          {{globalErrorMessage}}
        </div>
      </div>
    </div>
  </div>
</div>
