@import "../../../themes/variables";

.login-header {
  // background-color: $color-bc-header;
}

.card-footer--error {
  color: $color-white;
  background-color: #dc3545;
  font-size: 1.3rem;
}

.login-logo {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
  }

  &--img {
    width: 3rem;
    margin-right: .8rem;
  }

  &--text {
    color: $color-text-dark;
    // color: $color-nav_item;
    font-size: 2rem;
  }
}
