<toolbar-panel (onRefreshButtonClick)="reload()"
               [downloadButtonVisible]="false"
               [printButtonVisible]="true"
>

  <expand-hide-button [isExpanded]="allVisible"
                      (onClick)="allVisible = !allVisible"></expand-hide-button>

</toolbar-panel>

<h2>Test Groups</h2>

<spinner *ngIf="loading"></spinner>


<div class="list-filters__container">

  <div class="list-filters__item">
    <mat-form-field>
      <input matInput (keyup)="applyFilterInput($event.target)"
             [ngModel]="filters.searchString"
             placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="list-filters__item">

    <mat-checkbox [ngModel]="filters.rememberFilters"
                  (change)="onRememberFiltersChange($event)">Remember filters
    </mat-checkbox>
  </div>

</div>


<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">Count: {{dataSource.filteredData.length}}</th>
    <th scope="col">Test Group name</th>
    <th scope="col">Created</th>
    <th scope="col">Test count</th>
    <th scope="col">Test Group desc</th>
    <th scope="col" class="al-center">Result</th>
    <th scope="col" class="al-center">Validations</th>
    <th scope="col">Test Group ID</th>

  </tr>
  </thead>
  <tbody>

  <ng-container *ngIf="dataSource.filteredData">
    <ng-container *ngFor="let row of dataSource.filteredData; let i = index">
      <tr>

        <td class="al-center">
          <expand-hide-button [isExpanded]="hideme[i]"
                              (onClick)="hideme[i] = !hideme[i]"></expand-hide-button>
        </td>
        <td>
          <strong>{{row.testGroupModelDTO.testGroupName}}</strong>
        </td>
        <td>
          {{row.createdDT | date:'dd.MM.yyyy HH:mm:ss.SSS'}}
        </td>
        <td class="al-center">
          {{row.serverTestInstanceDTOS.length}}
        </td>
        <td>
          {{row.testGroupModelDTO.testGroupDesc}}
        </td>
        <td class="al-center">
          <test-result [hasErrors]="row.hasErrors" [isOpen]="false"></test-result>
        </td>
        <td class="al-center">
          <yes-no-nan [hasErrors]="row.validationErrors" [isOpen]="false"></yes-no-nan>
        </td>
        <td>{{row.testGroupModelDTO.testGroupID}}</td>

      </tr>
      <tr [id]="row.testGroupModelDTO.testGroupID" *ngIf="hideme[i] || allVisible">

        <td></td>
        <td></td>
        <td colspan="6">
          <table>
            <thead>
            <th scope="col" class="al-center">Count: {{row.serverTestInstanceDTOS.length}}</th>
            <th scope="col">Test Name</th>
            <th scope="col" class="al-center">Result</th>
            <th scope="col" class="al-center">Validations</th>
            <th scope="col">Created</th>
            <th scope="col">Test ID</th>
            <th scope="col" class="al-center">Is Closed</th>
            </thead>

            <tbody>

            <tr *ngFor="let d of row.serverTestInstanceDTOS">

              <td class="al-center">
                <detail-button (onClick)="openDetail($event, d.testId)"></detail-button>
              </td>
              <td> {{d.testName}}</td>
              <td class="al-center">
                <test-result [hasErrors]="d.hasErrors" [isOpen]="!d.closed"></test-result>
              </td>
              <td class="al-center">
                <yes-no-nan [hasErrors]="d.validationErrors" [isOpen]="!d.closed"></yes-no-nan>
              </td>
              <td> {{d.createdDT | date:'dd.MM.yyyy HH:mm:ss.SSS' }}</td>
              <td> {{d.testId}}</td>
              <td class="al-center">
                <mat-checkbox class="example-margin" [ngModel]="d.closed"
                              [disabled]="true"></mat-checkbox>
              </td>

            </tr>

            </tbody>

          </table>
        </td>

      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
