<!-- modal -->
<div [id]="modalId"
     class="modal animated bounceIn"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <h1 id="myModalLabel"
            class="modal-title">
          <div class="header-css-class">
            <ng-content select="[header]"></ng-content>
          </div>
        </h1>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="modal-body">

        <div class="body-css-class">
          <ng-content select="[body]"></ng-content>
        </div>


      </div>
      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <button class="btn btn-primary"
                data-dismiss="modal">
          Close
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->
