<spinner *ngIf="loading"></spinner>

<toolbar-panel
  (onRefreshButtonClick)="reload()"
  [backButtonVisible]="true"
  (onBackButtonClick)="onShowTest($event)"
  [downloadButtonVisible]="true"
  (onDownloadButtonClick)="onDownloadClick($event)"
  [printButtonVisible]="true"
></toolbar-panel>

<h3>Test Error detail</h3>

<my-panel type="success">
  <div title></div>
  <div body>
    <div *ngIf="data">

      <table class="table table-striped table-bordered">

        <tbody>


        <tr>
          <td>Error Type</td>
          <td>
            <strong>{{data.testErrorType}}</strong>

            <button mat-icon-button class="detailButton" (click)="onTestErrorTypeDetail()">
              <mat-icon aria-label="Detail">help_outline</mat-icon>
            </button>
          </td>

        </tr>

        <tr>
          <td>Message</td>
          <td style="white-space: pre-wrap">{{data.message}}</td>
        </tr>
        <tr>
          <td>Exception</td>
          <td style="white-space: pre-wrap">{{data.exception}}</td>
        </tr>

        </tbody>
      </table>


    </div>
    <div *ngIf="!data">
      <no-data></no-data>
    </div>

  </div>
</my-panel>
