@import "../../../themes/mixins";

.downloadButton {
  /*border: 1px solid #3f51b5 !important;*/
  /*border-radius: 0 !important;*/
}

.downloadButton:hover {
  @include shadowHover;
}

.downloadButton:active {
  @include shadowActive;
}
