<div class="testinstance-detail__container">

<toolbar-panel (onRefreshButtonClick)="onRefresh()"
               [downloadButtonVisible]="true"
               (onDownloadButtonClick)="downloadAsJsonEvent($event)"
               [printButtonVisible]="true"></toolbar-panel>

<spinner *ngIf="loading"></spinner>

<my-panel type="default">
  <div title>
    Basic info
    <expand-hide-button [isExpanded]="detailVisible"
                        (onClick)="toggleDetailView()"></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">


    <div class="basic-info__container">

      <div class="basic-info__row">
        <div class="basic-info__title">
          Test Group:
        </div>
        <div class="basic-info__value">
          {{data.testGroupModelDTO?.testGroupName}}
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          Test ID:
        </div>
        <div class="basic-info__value">
          {{data.testId}}
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          Test Name:
        </div>
        <div class="basic-info__value">
          <strong>{{data.testName}}</strong>
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          Test Desc:
        </div>
        <div class="basic-info__value">
          {{data.testDesc}}
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          Is Closed:
        </div>
        <div class="basic-info__value">
          <mat-checkbox [ngModel]="data.closed"
                        [disabled]="true"></mat-checkbox>
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          <strong>Result:</strong>
        </div>
        <div class="basic-info__value">
          <test-result [hasErrors]="data.hasErrors" [isOpen]="!data.closed"></test-result>
        </div>
      </div>
      <div class="basic-info__row">
        <div class="basic-info__title">
          Validations:
        </div>
        <div class="basic-info__value">
          <yes-no-nan [hasErrors]="data.validationErrors" [isOpen]="!data.closed"></yes-no-nan>

        </div>
      </div>
    </div>
  </div>
</my-panel>


<clientlibinstance-detail [data]="data.clientLibInstance"
                          [testID]="data.testId"></clientlibinstance-detail>

<phoneinstance-list [data]="data.phoneInstanceList"></phoneinstance-list>

<smsc-list [data]="data.smscInstances"></smsc-list>

<validationresult-list [data]="data.validationResults"></validationresult-list>

<testerrors-list [data]="data.testErrors" [testId]="data.testId"></testerrors-list>

<messageregister [data]="data.messageRegister" [phones]="data.phoneInstanceList"
                 [testID]="data.testId"></messageregister>




</div>
