.testinstance-detail {

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


}

.toolbar {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__panel {

  }

  &__anchors {
    flex: 1;
    text-align: right;

    display: flex;
    flex-direction: row;
    width: 100%;

    &--item {

    }
  }


}

.basic-info {

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    min-width: 10%;
  }

  &__vaue {
    flex: 1;
  }
}


