<my-panel type="success">
  <div title>Message Register
  <expand-hide-button [isExpanded]="detailVisible" (onClick)="toggleDetailView()" ></expand-hide-button>
  </div>
  <div body *ngIf="detailVisible">

    <common-button (onClick)="openMessageSequence($event)">Open message sequence</common-button>

    <mat-tab-group *ngIf="data">
      <mat-tab label="Incoming">
        <ng-container *ngIf="data.incoming">
          <messageregister-list [data]="data.incoming" [phones]="phones"></messageregister-list>
        </ng-container>
        <ng-container *ngIf="!data.incoming">
          <no-data></no-data>
        </ng-container>
      </mat-tab>
      <mat-tab label="Outgoing">
        <ng-container *ngIf="data.outgoing">
          <messageregister-list [data]="data.outgoing" [phones]="phones"></messageregister-list>
        </ng-container>
        <ng-container *ngIf="!data.outgoing">
          <no-data></no-data>
        </ng-container>
      </mat-tab>
    </mat-tab-group>

  </div>
</my-panel>


