<div class="header__container">

  <div class="header__logo">
    <a [routerLink]="['dashboard']" class="header__logo--link"
       role="button">

      <img src="assets/img/logo.ico" alt="Logo" class="header__logo--link--img"/>

      <span class="header__logo--link--text">
        MMS Params - documentation
      </span>
    </a>
  </div>
  <div class="header__info">
    Last update: 12.4.2020
  </div>


</div>
