@import "../../../themes/mixins";

.printButton {
  /*border: 1px solid #3f51b5 !important;*/
  /*border-radius: 0 !important;*/
}

.printButton:hover {
@include shadowHover;
}

.printButton:active {
  @include shadowActive;
}
