<!-- view modal -->
<button class="btn btn-primary btn-modal"
        data-toggle="modal"
        data-target="#fsModal">
  View Fullscreen Modal
</button>
<!-- view modal -->


<!-- modal -->
<mymodal>


  <div header>Phone detail</div>
  <div body>This should be rendered in body selection of ng-content</div>


</mymodal>
<!-- modal -->
