@import "../../../themes/mixins";

.refreshButton {
  /*border: 1px solid #3f51b5 !important;*/
  /*border-radius: 0 !important;*/
}

.refreshButton:hover {
  @include shadowHover;
}

.refreshButton:active {
  @include shadowActive;
}
