<spinner *ngIf="loading"></spinner>

<toolbar-panel

  (onRefreshButtonClick)="reload()"

  [backButtonVisible]="true"
  (onBackButtonClick)="onShowTest($event)"

  [printButtonVisible]="true"

  [downloadButtonVisible]="true"
  (onDownloadButtonClick)="onDownLoadClick($event)"

></toolbar-panel>

<h2>Test Client log</h2>

<div *ngIf="data">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">Created DT</th>
      <th scope="col">Log level</th>
      <th scope="col">LOG</th>
    </tr>
    </thead>
    <tbody>

    <ng-container *ngIf="data && data.items && data.items.length != 0">
      <tr *ngFor="let row of data.items">

        <td>{{row.createdDT | date:'dd.MM.yyyy HH:mm:ss.SSS'}}</td>
        <td [ngClass]="getLogLevelClass(row.logLevel)">{{row.logLevel}}</td>
        <td>
          <longdataprotect [jsondata]="row.log" [limit]="2000"></longdataprotect>
        </td>

      </tr>
    </ng-container>
    <ng-container *ngIf="!(data && data.items && data.items.length != 0)">
      <no-data></no-data>
    </ng-container>

    </tbody>
  </table>


</div>
