<button mat-icon-button color="primary" class="expandHideButton" (click)="onButtonClick($event)">
  <mat-icon *ngIf="isExpanded" aria-label="expand_less">expand_less</mat-icon>
  <mat-icon *ngIf="!isExpanded" aria-label="expand_more">expand_more</mat-icon>
</button>
