@import "../../../themes/mixins";

.expandHideButton {
  /*border: 1px solid #3f51b5 !important;*/
  /*border-radius: 0 !important;*/


}

.expandHideButton:hover {
  @include shadowHoverSmall;
}

.expandHideButton:active {
  @include shadowActiveSmall;
}
