$dev-font-size: 1rem;

.border {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  color: blue;
}

.horizontal_line {
  margin: 1rem 0;
  width: 100%;
  border: 1px solid black;
}

.dev_step {
  font-size: $dev-font-size;
  padding: .6rem;
  margin: .7rem 0;
}

.dev_code {
  background-color: rgba(190, 188, 250, 0.71);
}

.dev_info {
  background-color: rgba(152, 250, 150, 0.34);
}

.dev_warning {
  background-color: rgba(249, 191, 59, 1);
}
