@import "variables";

@mixin width-max($value)
{
  width: $value;
  max-width: $value;
}

@mixin shadowHover() {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px $color-shadow;
}

@mixin shadowHoverSmall() {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px $color-shadow;
}

@mixin shadowActive() {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px $color-shadow;
}

@mixin shadowActiveSmall() {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px $color-shadow;
}
