// COLOR VARIABLES
$color-text-light: #C2C7D0;
$color-text-light-hover: #ffffff;

$color-text-dark: #333333;


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

// $color-bc-dark: #343a40;
$color-bc-dark: #22313F;

$color-bc-content: #F4F6F9;

// LAYOUT COLORS

$color-bc-header: $color-bc-dark;
$color-bc-nav: $color-bc-dark;

$color-nav_item: #C2C7D0;
$color-nav_item-hover: #fff;
$color-bc-nav_item-hover: rgba(255,255,255,.1);

$color-shadow: rgba(0, 0, 0, .2);


