<div class="toolbar-panel">

  <back-button *ngIf="backButtonVisible"
               (onClick)="onBackButtonClickEvent($event)" ></back-button>
  <refresh-button *ngIf="refreshButtonVisible"
                  (onClick)="onRefreshButtonClickEvent($event)"></refresh-button>
<!--  <print-button *ngIf="printButtonVisible"-->
<!--                (onClick)="onPrintButtonClickEvent($event)"></print-button>-->
  <download-button *ngIf="downloadButtonVisible"
                   (onClick)="onDownloadButtonClickEvent($event)"></download-button>

  <ng-content></ng-content>

</div>
