@import '../../../themes/variables';

.toolbar-panel {
  display: inline-block;
  border: 2px solid $color-primary;
  border-radius: 10px;
}

@media only print {
  .toolbar-panel{
    display: none;
  }
}
